node_modules
package-lock.json
.stack-work
stack.yaml.lock
spago.lock
cache
tok.dat
.tok-tidal.dat
AlbumsPlayed
dist-newstyle
cabal.project.local
result
python-tidal
stuff
__pycache__
.hie
.DS_Store
bower_components
.pulp-cache
dist
output
output-es
generated-docs
.parcel-cache
.psc-package
.psc*
.purs*
.psa*
.spago
.venv
.direnv
frontend/index.js
