node_modules
package-lock.json
backend/.stack-work
backend/stack.yaml.lock
backend/data
backend/dist-newstyle
backend/update-json
backend/cabal.project.local
backend/result
backend/python-tidal
__pycache__
.hie
.DS_Store
